@import '../variables';

.experience {
  @include canvas($primary-color);
  position: relative;
  color: white !important;
  text-align: center;
  padding: 20px;
  
  h2, h3, h4, li {
    color: white;
  }

  .project-avatar {
    @include absolute(2%, 5%)
  }

  .project-card {
    @include elevate();
    border: none;
    opacity: 0.8;
    background: '#92b9d4';
    text-align: left;
    border-radius: 15px;
    &:hover {
      opacity: 1;
    }
  }

  .vue-logo {
    -webkit-animation: action 0.5s infinite  alternate;
    animation: action 0.5s infinite  alternate;
  }
  @-webkit-keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }
  @keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
  }

  @-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      to {transform:rotate(360deg);}
  }

  .spin {
      animation: spin 3000ms linear infinite;
  }
}
