@import '../variables';

.experience {
  @include canvas($primary-color);
  position: relative;
  color: white !important;
  text-align: center;
  padding: 20px;
  
  h2, h3, h4, li {
    color: white;
  }

  .project-avatar {
    @include absolute(2%, 5%)
  }

  .project-card {
    border: none;
    opacity: 0.8;
    background: '#92b9d4';
    text-align: left;
    border-radius: 15px;
    &:hover {
      opacity: 1;
    }
  }
}
