$primary-color: #0B7BC5;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin canvas($bg-color) {
  height: 100vh;
  width: 100vw;
  background: $bg-color;
}

@mixin colored-element() {
  color: white;
  background: $primary-color;
  border: none;
}

.header {
  @include canvas(white);
  .container {
    width: 80vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .introduction {
    @media (max-width: $screen-sm-min) {
      padding-top: 0vh;
    }
    @media (min-width: $screen-sm-min) {
      padding-top: 10vh;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 16vh;
    }
  }
  .illustration {
    @media (max-width: $screen-sm-min) {
      max-width: 100%;
    }
    @media (min-width: $screen-sm-min) {
      max-width: 70%;
    }
    @media (min-width: $screen-md-min) {
      max-width: 100%;
    }
  }
  svg {
    position: absolute;
  }
  p {
    margin: 0
  }
  h1 {
    margin: 0;
    @media (max-width: $screen-sm-min) {
      font-size: 1.8rem;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 3rem;
    }
    @media (min-width: $screen-md-min) {
      font-size: 4vw;
    }
  }
  button {
    @include colored-element();
  }
}

