@mixin canvas($bg-color) {
  height: 100vh;
  width: 100vw;
  background: $bg-color;
}

.header {
  @include canvas(linear-gradient(to right, #6FB1FC, #4364F7, #0052D4));
  color: white;
  .container {
    padding: 10% 15%;
  }
  p {
    margin: 0
  }
  h1 {
    margin: 0
  }
}

