$primary-color: #0B7BC5;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin canvas($bg-color) {
  height: 100vh;
  width: 100vw;
  background: $bg-color;
}

@mixin absolute($top, $left) {
  margin: 0;
  position: absolute;
  top: $top;
  left: $left;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin colored-element() {
  color: white;
  background: $primary-color;
  border: none;
}

.profile {
  @include canvas(#E7E7E7);
  position: relative;
  padding-top: 20px;
  .avatar {
    @include absolute(20%, 70%);
    z-index: 1;
  }
  .blob-md {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 100vh;
  }
  .blob-sm {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100vh;
  }
  .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 60vh;
    border-radius: 30px;
  }
}

